table{
  margin: 0 auto;
  border: 5px solid lightgray;
  border-radius: 10px;
  background-color: lightgray;
}

.cell{
  background-color: whitesmoke;
	width: 150px;
	height: 150px;
  border-radius: 10px;
	font-size: 50px;
  overflow: hidden;

}

.x {
  text-align: center;
  font-size: 100px;
  font-family: 'Varela Round', sans-serif;
  color: steelblue;
}

.o {
  text-align: center;
  font-size: 100px;
  font-family: 'Varela Round', sans-serif;
  color: lightcoral;
}






h1 {
  height: 100px;
  margin: 0;
  background: linear-gradient(rgba(255,150,100,1),rgba(255,100,111,1));
  font-family: 'Open Sans', sans-serif;
  font-size: 101px;
  text-align: center;
  color: white;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: darkslategray;
  transform : scale(1,0.95);

}

html, body {
    padding: 0;
    margin: 0;
    position: relative;
}


.scoreboard{
  background-color: whitesmoke;
  margin: 0px auto 25px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: darkslategray;
}

.scoretitle{
  font-size: 20px;
  font-weight: bold;
}

.scorenames{
  font-size: 18px;
  font-weight: bold;
  width: 85px;

}


.overlay{
  position: absolute;
  top: 277px;
  left: 0px;
  width: 100%;
  height: 497px;
  z-index: 10;
  background-color: rgba(0,0,0,0.74);
}

.overlayText{
  padding: 65px;
  font-family: 'Open Sans', sans-serif;
  font-size: 101px;
  color: whitesmoke;
  text-align: center;
}

.buttonAlign{
  margin: 15px auto;
  text-align: center;
}

#reset{
  height: 50px;
  width: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  color: antiquewhite;
  background-color: darkslategrey;
}